@font-face {
  font-family: 'Outfit-Bold';
  font-style: normal;
  src: local('Outfit-Bold'), url('./assets/fonts/Outfit-Bold.ttf');
}

@font-face {
  font-family: 'Outfit-SemiBold';
  font-style: normal;
  src: local('Outfit-SemiBold'), url('./assets/fonts/Outfit-SemiBold.ttf');
}

@font-face {
  font-family: 'Outfit-Regular';
  font-style: normal;
  src: local('Outfit-Regular'), url('./assets/fonts/Outfit-Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
